$colors: (
    common: (
        white: #ffffff,
        black: #00235a,
        black-2: #123770,
        black-3: #0b2c5f,
        black-4: #082b63,
        black-5: #0b1f3e,
        dark: #365484,
        dark-2: #041735,
        dark-3: #000,
        green: #3CB86C,
        green-2: #0BBF5E,
        orange: #FF6838,
        red: #FF485D,
        purple: #914EFF,
        yellow: #FFA153,
        yellow-2: #FEDA03,
        pink: #FE5E78,
    ),
    heading: (
        primary: #00235a,
    ),
    grey: (
        1:#F1F1F1,
        2:#F5F6F8,
        3:#f8f8f8,
        4:#f7f7f7,
        5:#f9f9f9,
        6:#f6f6f6,
        7:#f4f4f4,

    ),
    text: (
        body:#777777,
        1:#777777,
        2:#76808f,
        3:#adadad,
        4:#96a4ba,
        5:#7e8ca2,
        6:#7f8a9a,
        7:#b0b9c7,
        9:#92a2bc,
        10:#94a3bb,
        11:#afb6c0,
        12:#999999,
        13:#cccccc,
        14:#bbbbbb,
        15:#9caeca,
    ),
    theme: (
        1: #ff5e14,
        2: #ffc033,
    ),
    border: (
        1: #f0f0f0,
        2: #f3f3f3,
        3: #efefef,
        4: #e2e2e2,
        5: #d3d3d3,
        6: #f2f2f2,
        7: #e9e9e9,
        8: #ededed,
        9: #eeeeee,
        10: #ebebeb,
    )
);
