@use '../utils' as *;

/*----------------------------------------*/
/*  04. SERVICES CSS START
/*----------------------------------------*/

.services{
    $self: &;
    &__item{
        background-color: var(--tp-common-white);
        @include box-shadow(0px 16px 32px 0px rgba(0, 0, 0, 0.04));

        &:hover{
            @include box-shadow(none);

            #{$self}{
                &__thumb{
                    & img{
                        @include transform(scale(1.1));
                    }
                }
            }
        }

        &-2{
            padding: 45px 45px 40px;
            position: relative;
            z-index: 1;
             
            @media #{$xs}{
                padding-left: 35px;
                padding-right: 35px;
            }
        }
        &-3{
            &:hover{
                #{$self}{
                    &__thumb-3 img{
                        @include transform(scale(1.1));
                    }
                }
            }
        }
    }
    &__thumb{
        &-3{
            z-index: 1;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--tp-common-dark-3);
                opacity: .5;
            }
        }
    }
    &__icon{
        position: absolute;
        top: 0;
        right: 40px;
        @include transform(translateY(-50%));
        & span{
            display: inline-block;
            width: 70px;
            height: 70px;
            text-align: center;
            line-height: 70px;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
            font-size: 40px;
            margin-bottom: 2px;
            @include box-shadow( 0px 16px 32px 0px rgba(0, 0, 0, 0.04));
        }

        &-2{
            margin-bottom: 20px;
            & i{
                font-size: 60px;
                color: var(--tp-theme-1);
            }
        }

        &-3{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: 120px;
            height: 120px;
            text-align: center;
            line-height: 117px;
            background-color: var(--tp-common-white);
            @include border-radius(50%);
            z-index: 1;
            & span{
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                & .services-icon-theme{
                    fill: var(--tp-theme-2);
                }

                & .services-icon-black{
                    fill: var(--tp-common-dark-3);
                }
            }
        }
    }
    &__counter{
        counter-reset: count;
        &-2{
            counter-reset: count2;
        }

    }
    &__no{
        & span{
            display: inline-block;
            font-size: 14px;
            color: var(--tp-theme-1);
            position: relative;
            padding-right: 20px;
            text-transform: uppercase;

            &::after{
                position: absolute;
                counter-increment: count;
                content: '0' counter(count);
                right: 0;
                top: 48%;
                @include transform(translateY(-50%));
                color: var(--tp-theme-1);
                
            }
        }
        &-2{
            & span{
                display: inline-block;
                font-size: 14px;
                color: var(--tp-text-1);
                position: relative;
                padding-right: 20px;
                text-transform: uppercase;

                &::after{
                    position: absolute;
                    counter-increment: count;
                    content: '0' counter(count);
                    right: 0;
                    top: 48%;
                    @include transform(translateY(-50%));
                    color: var(--tp-text-1);
                    
                }
            }
        }
        &-text{
            position: relative;
            &::before{
                position: absolute;
                counter-increment: count2;
                content: '0' counter(count2);
                right: -45px;
                top: 25px;
                -webkit-text-fill-color: transparent;
                background: var(--tp-common-white);
                -webkit-background-clip: text;
                -webkit-text-stroke: 1px var(--tp-border-6);
                color: var(--tp-common-white) !important;
                font-size: 170px;
                z-index: -1;
                font-weight: 700;
            }
        }
    }
    &__title{
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }

        &-2{
            font-size: 26px;
            color: var(--tp-common-black);
            text-transform: uppercase;
            margin-bottom: 15px;
            & a{
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
        &-3{
            font-size: 24px;
            color: var(--tp-common-white);

            @media #{$lg}{
                font-size: 20px;
            }
            & a{
                &:hover{
                    color: var(--tp-theme-2);
                }
            }
        }
    }
    &__content{
        position: relative;
        border: 1px solid var(--tp-border-2);
        border-top: 0;
        padding: 30px 40px;

        @media #{$xl}{
            padding-left: 15px;
            padding-right: 15px;
        }
        &-2{
            & p{
                margin-bottom: 28px;
            }
        }
        &-3{
            padding-top: 20px;
        }
    }
    &__btn{
        & .services-link-btn{
            display: inline-block;
            & a{
                display: inline-block;
            }
            &:hover{
                & .link-btn{
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-1);
                    border-color: var(--tp-theme-1);
                    & i{
                        left: 100%;
                        visibility: hidden;
                        opacity: 0;
                        &:last-child{
                            left: 50%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                & .services-btn-text{
                    visibility: visible;
                    opacity: 1;
                    padding-left: 20px;
                }
            }
        }
        & .services-link-btn{
            position: relative;
        }
        & .services-btn-text{
            position: absolute;
            left: 100%;
            top: 43%;
            @include transform(translateY(-50%));
            font-size: 14px;
            font-weight: 700;
            color: var(--tp-common-black);
            text-transform: uppercase;
            min-width: 200%;
            visibility: hidden;
            opacity: 0;
        }
    }
    &__slider{
      margin-right: -430px;

      @media #{$xl}{
        margin-right: -200px;
      }

      @media #{$lg}{
        margin-right: -350px;
      }

      @media #{$md}{
        margin-right: -250px;
      }

      @media #{$sm}{
        margin-right: -350px;
      }

      @media #{$xs}{
        margin-right: 0;
      }
    }
    &__details{
        &-thumb{
            margin-bottom: 50px;
        }
        &-title{
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 23px;

            @media #{$lg}{
                font-size: 35px;
            }

            @media #{$sm, $xs}{
                font-size: 30px;
            }
        }
        &-content{
            & p{
                font-size: 16px;
                line-height: 1.6;
                margin-bottom: 15px;
            }
        }
        &-question{
            & h4{
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            & ul{
                & li{
                    list-style: none;
                    line-height: 1;
                    & p{
                        font-size: 16px;
                        line-height: 1.6;

                        & span{
                            color: var(--tp-common-black);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        &-process{
            & h4{
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 22px;
            }
        }
        &-contact{
            padding: 50px 60px 60px;
            border: 1px solid #f1f1f1;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);

            @media #{$sm, $xs}{
                padding-left: 15px;
                padding-right: 15px;
            }
            & h4{
                font-size: 40px;
                text-transform: uppercase;
                margin-bottom: 30px;

                 @media #{$sm, $xs}{
                    font-size: 30px;
                }
            }

            & .contact__input{
                & input,
                & textarea{
                    background-color: var(--tp-grey-4);
                    border-color: var(--tp-grey-4);

                    &:focus{
                        border-color: var(--tp-theme-1);
                    }

                    @include tp-placeholder{
                        color: var(--tp-text-12);
                    }
                }

                & i{
                    color: var(--tp-common-black);
                }
            }
        }
    }
    &__widget{
        padding: 33px 40px 30px;
        border: 1px solid #f3f3f3;
        &-title{
            font-size: 20px;
            text-transform: uppercase;
            padding-right: 70px;
            position: relative;
            margin-bottom: 17px;
            &::after{
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                @include transform(translateY(-50%));
                width: 70px;
                height: 1px;
                background-color: var(--tp-theme-1);
            }
        }

        & ul{
            & li{
                list-style: none;
                margin-bottom: 2px;

                &:last-child{
                    margin-bottom: 0;
                }
                & a{
                    font-size: 16px;
                    color: var(--tp-text-1);
                    padding-left: 30px;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        width: 16px;
                        height: 1px;
                        background-color: var(--tp-common-black);
                    }
                }
                &:hover{
                    & > a{
                        color: var(--tp-theme-1);
                        padding-left: 40px;
                        &::after{
                            background-color: var(--tp-theme-1);
                            width: 22px;
                        }
                    }
                }
            }
        }
    }
}


.services-widget-banner{
    position: relative;
    background-color: var(--tp-grey-4);
    z-index: 1;
    padding: 50px 25px 35px;
    & .services-banner-shape-1{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    & .services-banner-content{
        text-align: center;
        & span{
            font-size: 14px;
            display: inline-block;
            margin-bottom: 5px;
        }

        & h5{
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        & p{
            font-size: 30px;
            color: var(--tp-theme-1);
            font-weight: 700;
            position: relative;
            display: inline-block;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                bottom: -3px;
                width: 100%;
                height: 2px;
                background-color: var(--tp-theme-1);
            }
            
        }
    }
}
